.login-page-wrapp {
  height: 80vh;
}

.auth-page-wrapp {
  min-height: 80vh;
}

.login-form-wrap {
  width: 50%;
}

.login-form-wrap .form-card {
  max-width: 500px;
  width: 100%;
  margin-right: 30px;
}

.login-form-wrap .form-card .card-title {
  color: var(--gray);
}

.login-greeting-screen {
  background: var(--teal);
  width: 50%;
  padding: 20px;
}

.login-greeting-screen .login-greeting-screen-text {
  max-width: 500px;
}

.login-greeting-screen .login-greeting-screen-text {
  color: var(--white);
}

.login-greeting-screen .login-greeting-screen-title {
  margin-bottom: 30px;
  text-transform: capitalize;
}

.login-greeting-screen .login-greeting-screen-description {
  line-height: 1.4;
}

.auth-greeting-screen {
  background: var(--cyan);
  width: 50%;
  padding: 20px;
}

.auth-greeting-screen .auth-greeting-screen-text {
  max-width: 500px;
}

.auth-greeting-screen .auth-greeting-screen-text {
  color: var(--white);
}

.auth-greeting-screen .auth-greeting-screen-title {
  margin-bottom: 30px;
  text-transform: capitalize;
}

.auth-greeting-screen .auth-greeting-screen-description {
  line-height: 1.4;
}
